# Default ignored files
/shelf/
/workspace.xml
credentials.json
credentials.json.json
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml